@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre');

body {
	background: #fff;
	font-family: 'Open Sans', Arial, sans-serif;
	color: #333;
	line-height: 1.6em;
	margin: 0px auto;
}
/* **************** Section Menus **************** */
header #navbar {
	padding: 0px;
}
header .navbar-nav li a {
	font-size: 12px;
}

header .navbar-nav > li > a {
	color: #000 !important;
	padding-top: 5px !important; 
	padding-bottom: 5px !important;
}

header .navbar-nav > li > a:hover {
	color: #cc6600 !important;
}

header .navbar {
	min-height: 30px !important;
	background: #FFF !important;
}

header nav.navbar {
	padding: 0px;	
}

header #navbar ul:first-child  li:first-child a {
	padding-left: 0px;
}

section#navigation > .navbar {
	border: none;
	background: #FFF;
}
.add-border-bottom {
	-webkit-box-shadow:0px 1px 1px #CCC;
	-moz-box-shadow:0px 1px 1px #CCC;
	box-shadow:0px 1px 1px #CCC;
}
section#navigation #brand {
	padding-left: 0px !important;
	font-size: 50px;
	font-weight: bolder;
	font-family: 'Abhaya Libre', serif;
}

/* **************** Section Slider **************** */
.slider {
	
}

/* **************** Section Posts **************** */
article {
	padding-bottom: 2%;
}

.posts {
	margin-top: 3%;
}

.item {
	width: 100%;
	height: auto;
	border: 1px solid #CCC;
	overflow: hidden;
}
.image {
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.item > .post-image img {
	padding-bottom: 5%;
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	overflow: hidden;
}

.item > .post-image:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.post-image > a {
	font-size: 150%;
	text-decoration: none;
	color: #000;
}

.post-image > .text-link:hover .post-image > img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: #cc6600;
}

.short-desc {
	padding: 2px; 
}

/* **************** Section ScrollToTop **************** */
.scrollToTop{
	width:100px; 
	height:130px;
	padding:10px; 
	position:fixed;
	bottom: 0.2%;
	right: 0.5%;
	display:none;
}

.fa-arrow-circle-up {
  	color: #CCC;
}

footer {
	background-color: red;
	width: 100%;
    height: 150px;
    background: #222;
    border-top: 1px solid #CCC;    
}