body {
	background: #fff;
	font-family: 'Open Sans', Arial, sans-serif;
	color: #333;
	line-height: 1.6em;
	margin: 0px auto;
}
/* **************** Section Menus **************** */
.navbar-nav li a {
	font-size: 12px;
}

.navbar-nav > li > a {
	color: #000 !important;
	padding-top: 5px !important; 
	padding-bottom: 5px !important;
}

.navbar-nav > li > a:hover {
	color: #cc6600 !important;
}

.navbar {
	min-height: 30px !important;
	background: #FFF !important;
}

/* **************** Section Slider **************** */
.slider {
	margin-top: 3%;
}

/* **************** Section Posts **************** */
article {
	padding-bottom: 2%;
}

.posts {
	margin-top: 3%;
}

.item {
	width: 100%;
	height: auto;
	border: 1px solid #CCC;
	overflow: hidden;
}
.image {
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.item > .post-image img {
	padding-bottom: 5%;
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	overflow: hidden;
}

.item > .post-image:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.post-image > a {
	font-size: 150%;
	text-decoration: none;
	color: #000;
}

.post-image > .text-link:hover .post-image > img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: #cc6600;
}

.short-desc {
	padding: 2px; 
}