body {
	background: #fff;
	font-family: 'Open Sans', Arial, sans-serif;
	color: #333;
	line-height: 1.6em;
	margin: 0px auto;
}
/* **************** Section Menus **************** */
.navbar-nav li a {
	font-size: 12px;
}

.navbar-nav > li > a {
	color: #000 !important;
	padding-top: 5px !important; 
	padding-bottom: 5px !important;
}

.navbar-nav > li > a:hover {
	color: #cc6600 !important;
}

.navbar {
	min-height: 30px !important;
	background: #FFF !important;
}

/* **************** Section Slider **************** */
.slider {
	margin-top: 3%;
}

/* **************** Section Posts **************** */
.posts {
	margin-top: 3%;
}

.item {
	width: 100%;
	height: auto;
	border: 1px solid #CCC;

}
article {
	padding-bottom: 2%;
}
